* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #18181b;
}
#form{
    background-color: rgb(39, 39, 39);
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
img {
    width: 31rem;
}
